.Login {
  background-color: #eeeeee;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  input,
  button {
    background: white;
    padding: 20px;
    font-size: 20px;
    border: none;
  }

  button {
    background-color: #eeeeee;

    &:hover {
      background-color: #46b3fb;
      color: white;
      cursor: pointer;
    }
  }
}
